{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

        {% include 'partials/social_login.html' %}

        {% include 'mixins/auth/auth_form.html' with form=form cta="ثبت نام" %}

        <div class="mt-5">
                <span class="mr-2 text-xl">حساب کاربری داری؟ </span>
                <a href="{% url 'users:login' %}" class="text-teal-500 mr-2 font-medium text-xl">ورود</a>
            </div>

    </div>
{% endblock content %}